<a href="https://colab.research.google.com/github/Maheshkumar145/BP-Assignment-/blob/main/P_Assignemt_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1.	Write a Python program to find sum of elements in list?**

In [ ]:
l = [1,2,3,4,5] 
summation = sum(l)
print(summation)

15

In [ ]:
l = [int(input()) for i in range(int(input("no,of elements in list: ")))]
summation = sum(l)
print("sum of numbers :",summation)

no,of elements in list: 5
10
23
63
19
20
sum of numbers : 135

**2.	Write a Python program to  Multiply all numbers in the list?**

In [ ]:
import numpy as np
l = [1,2,3,4,5] 
product = np.prod(l)
print(product)

120

**3.	Write a Python program to find smallest number in a list?**

In [ ]:
l = [1,10,8,3,5] 
print("smallest number :",min(l))

smallest number : 1

**4.	Write a Python program to find largest number in a list?**

In [ ]:
l = [1,10,8,3,5] 
print("largest number :",max(l))

largest number : 10

**5.	Write a Python program to find second largest number in a list?**

In [ ]:
l = [int(input()) for i in range(int(input("no,of elements in list: ")))]
#l = [1,10,8,3,5] 
new_list=sorted(l)
print(new_list)
#X = max(new_list)
#print(X)
print("Second largest element is:", new_list[-2])

no,of elements in list: 5
1
10
8
3
5
[1, 3, 5, 8, 10]
Second largest element is: 8


**6.	Write a Python program to find N largest elements from a list?**

In [ ]:
l = [int(input()) for i in range(int(input("no,of elements in list: ")))]
N=int(input("Enter Nth number : "))
new_list=sorted(l)
print(new_list)
print("Nth largest element is:", new_list[N-1])

no,of elements in list: 6
18
12
28
36
16
8
Enter Nth number : 4
[8, 12, 16, 18, 28, 36]
Nth largest element is: 18

**7.	Write a Python program to print even numbers in a list?**

In [3]:
l = [int(input()) for i in range(int(input("no,of elements in list: ")))]
for n in l:
  if n%2==0:
    print(n,end=' ')

no,of elements in list: 6
2
53
31
45
32
56
2 32 56

**8.	Write a Python program to print odd numbers in a List?**

In [2]:
l = [int(input()) for i in range(int(input("no,of elements in list: ")))]
for n in l:
  if n%2!=0:
    print(n,end=' ')

no,of elements in list: 5
23
24
25
27
30
23 25 27

**9.	Write a Python program to Remove empty List from List?**

In [5]:
def empty_list_remove(input_list):
    new_list = []
    for ele in input_list:
        if ele:
            new_list.append(ele)
    return new_list
input_list = [5, 6, [], 3, [], [], 9]
print(f"The original list is : {input_list}")
print(f"List after empty list removal : {empty_list_remove(input_list)}")

The original list is : [5, 6, [], 3, [], [], 9]
List after empty list removal : [5, 6, 3, 9]

**10.	Write a Python program to Cloning or Copying a list?**

In [8]:
import copy as cp
l1 = [1,2,3,4,5]
l2 = cp.copy(l1)
print(l2)

[1, 2, 3, 4, 5]

**11.	Write a Python program to Count occurrences of an element in a list?**

In [15]:
l=[]
n=int(input("Enter size of list "))
for i in range(0,n):
    x=int(input("Enter element of list "))
    l.append(x)
print("Original list: ",l)
n=int(input("Enter element to be checked list: "))
print(n," has occurred ",l.count(n),"times")

Enter size of list 4
Enter element of list 1
Enter element of list 2
Enter element of list 2
Enter element of list 2
Original list:  [1, 2, 2, 2]
Enter element to be checked list: 2
2  has occurred  3 times